<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thunder Junction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
</head>
<body :color="backColor">
    <div id="app">
        <v-app>
            <v-content>
                <v-navigation-drawer width="98px" v-model="drawer" class="d-inline-block lefty" permanent :color="sideNavColor">
                    <div class="side_nav--logo">
                        <img :src="bisonImg" alt="bisonOrange">
                    </div>
                    <div  class="side_nav--logo" @click="console.log('clicked');">
                        <img class="mt-8 ml-3" src="images/side_nav_chart.svg" alt="chart">
                    </div>
                    <div class="side_nav--colorSwitch__div">
                        <v-switch class="side_nav--colorSwitch" v-model="switch1" color="#FDB713"></v-switch>
                    </div>
                </v-navigation-drawer>
                <div id="pushWrapper">
                    <div class="title">
                        <p>Parkdata - Thunder Junction</p>
                        <img id="titleImg" src="images/St. George Logo.svg">
                    </div>
                    <div class="roundContainer">
                        <p class="contentTitle">Current Visitors</p>
                    </div>
                </div>
            </v-content>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="app.js"></script>
</body>
</html>