<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thunder Junction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body :color="backColor">
    <div id="app">
        <v-app>
            <v-content v-bind:style="{backgroundColor:backColor, color:textColor}">
                <v-navigation-drawer width="98px" v-model="drawer" class="d-inline-block lefty" permanent :color="sideNavColor">
                    <div class="side_nav--logo">
                        <img :src="bisonImg" alt="bisonOrange">
                    </div>
                    <div  class="side_nav--logo" @click="console.log('clicked');">
                        <img class="mt-8 ml-3" src="images/side_nav_chart.svg" alt="chart">
                    </div>
                    <div class="side_nav--colorSwitch__div">
                        <v-switch class="side_nav--colorSwitch" v-model="switch1" color="#FDB713"></v-switch>
                    </div>
                </v-navigation-drawer>
                <div id="pushWrapper">
                    <div class="title">
                        <p>Parkdata - Thunder Junction</p>
                        <img id="titleImg" src="images/St. George Logo.svg">
                    </div>

                    <div class="roundContainer" v-bind:style="{backgroundColor:containerColor}">
                        <p class="contentTitle">Current Visitors</p>
                        <img class="contentImg" :src="currentVisitorsImg">
                        <p class="bottom" style="display:block">{{currentVisitors}} people</p>
                        <p class="right">{{currentPercentage}}%<img class="arrow" :src="currentPercentageImg"></p>
                    </div>

                    <div class="roundContainer" v-bind:style="{backgroundColor:containerColor}">
                        <p class="contentTitle">Visitors In</p>
                        <img class="contentImg" :src="visitorsInImg">
                        <p class="bottom" style="display:block">{{visitorsIn}} people</p>
                        <p class="right">{{inPercentage}}%<img class="arrow" :src="inPercentageImg"></p>
                    </div>

                    <div class="roundContainer" v-bind:style="{backgroundColor:containerColor}">
                        <p class="contentTitle">Visitors Out</p>
                        <img class="contentImg" :src="visitorsOutImg">
                        <p class="bottom" style="display:block">{{visitorsOut}} people</p>
                        <p class="right">{{outPercentage}}%<img class="arrow" :src="outPercentageImg"></p>
                    </div>

                    <div class="reportContainer" v-bind:style="{backgroundColor:containerColor}">
                        <span class="contentTitle">Weekly Report</span>
                        <div id="weeklyContainer">
                            <p class="r" id="rect"></p>
                            <span class="r">total visitors in</span>
                            <span class="r" id="dateSelect">{{weeklyReportDate}}<img id="weeklyArrow" :src="weeklyArrow"></span>
                        </div>
                        <div>
                            <canvas id="lineChart" style="height:20px; width:80px;"></canvas> 
                        </div>    
                        
                    </div>

                    <div class="currentContainer" v-bind:style="{backgroundColor:containerColor}">
                        <p class="contentTitle mgn">Current Visitors</p>
                        <div id="svgContainer">
                            <svg id="svg" viewBox="75 75 50 50">
                                <circle class="background" cx="100" cy="100" r="22" stroke="#fff1d0" />
                                <text x="88" y="102" id="currentTemp" font-size="7" font-weight="bold" style="fill: #4F4F4F">{{currentVisitors}}/500</text>
                                <circle id="line" class="overlayLine" cx="100" cy="100" r="22" stroke="#FDB713" stroke-dasharray="0, 3000" stroke-dashoffset="126" transform="rotate(-90,100,100)" />
                            </svg>
                        </div>
                        <div id="text1">
                            <p id="rect1"></p>
                            <div class="svgTextWrap">
                                <span class="r svgText">Current<br>Visitors</span>
                            </div>
                        </div>

                        <div id="text2">
                            <p id="rect2"></p>
                            <div class="svgTextWrap">
                                <span class="r svgText">Space<br>Available</span>
                            </div>
                        </div>

                    </div>

                    <div class="hourReportContainer" v-bind:style="{backgroundColor:containerColor}">
                        <span class="contentTitle">Hourly Report</span>
                        <div id="hourlyContainer">
                            <p class="r" id="rect3"></p>
                            <span class="r">Current</span>
                            <p class="r" id="rect4"></p>
                            <span class="r">In</span>
                            <p class="r" id="rect5"></p>
                            <span class="r">Out</span>
                            <span class="r dateSelect">{{hourlyReportDate}}<img id="weeklyArrow" :src="weeklyArrow"></span>
                        </div>     
                    </div>

                    <!-- expirementing with chart.js -->
                    <!-- <canvas id="lineChart" style="height:20px; width:80px;"></canvas> -->
                </div>
            </v-content>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="app.js"></script>
    <script src="charts.js"></script>
</body>
</html>