<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thunder Junction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
</head>
<body>
    <div id="app">
        <v-app>
            <v-content>
                <template class="d-inline">
                        <v-navigation-drawer width="98px" v-model="drawer" permanent :color="sideNavColor">
                            <div class="side_nav--logo">
                                <img src="images/bison_orange.svg" alt="bisonOrange">
                            </div>
                            <div class="side_nav--colorSwitch__div">
                                <v-switch class="side_nav--colorSwitch" v-model="switch1" color="#FDB713"></v-switch>
                            </div>
                        </v-navigation-drawer>
                    
                </template>

                
            </v-content>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="app.js"></script>
</body>
</html>