
@font-face{
    font-family: "myRoboto";
    src: url("fonts/Roboto/Roboto-Regular.ttf");
}
@font-face{
    font-family: "robotoTitle";
    src: url("fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf");
}
body {
    margin: 0;;
}
.lefty{
    position: absolute;
}
#pushWrapper{
    margin-left: 130px;
    margin-top: 25px;
}
.side_nav--logo {
    margin: auto;
    width: 50%;
    margin-top: 30px;
}
.side_nav--colorSwitch__div{
    margin: auto;
    width: 50%;
}
.side_nav--colorSwitch {
    position: fixed;
    bottom: 0;
}
.title p{
    display: inline-block;
    vertical-align: middle;
    line-height: 45px;
    font-size: 30px;
}
.title{
    margin-bottom: 20px;
}
#titleImg{
    float: right;
    display: inline;
    margin-right: 25px;
    height: 45px;
    width: 45px;
}
.roundContainer{
    padding: 23px;
    font-size: 20px;
    width: 26vw;
    height: 9vw;
    border-radius: 13px;
    display: inline-block;
    margin-right: 34px;
    position: relative;
}
.roundContainer p{
    display: inline-block;
    vertical-align: middle;
}
.contentTitle{
    font-weight: bold;
}
.contentImg{
    float: right;
    vertical-align: middle;
    margin: 3px;
}
.bottom{
    clear: both;
    display: inline;
    position: absolute;
    bottom: 0;
}
.right{
    display: inline;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 23px;
}
.arrow{
    margin-left: 6px;
}
.reportContainer, .currentContainer{
    width: 60vw;
    height: 19vw;
    padding: 23px;
    font-size: 20px;
    border-radius: 13px;
    display: inline-block;
    margin-right: 34px;
    position: relative;
    margin-top: 34px;
}
.dateContainer{
    display: inline;
}
#rect{
    width: 16px;
    height: 16px;
    background: #F38F3D;
    border: 1px solid #F38F3D;
    box-sizing: border-box;
    border-radius: 5px;
    display: inline-block;
    margin: 0px;
    vertical-align: middle;
}
.r{
    position: relative;
    right: 0;
    vertical-align: middle;
    margin: 10px;
}
#weeklyContainer{
    display: inline; 
    float: right; 
    vertical-align: middle;
    font-size: 12px;
}
#weeklyArrow{
    margin: 4px;
    vertical-align: middle;
}
.currentContainer{
    width: 20.5vw;
}

