
@font-face{
    font-family: "myRoboto";
    src: url("fonts/Roboto/Roboto-Regular.ttf");
}
@font-face{
    font-family: "robotoTitle";
    src: url("fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf");
}
body {
    margin: 0;;
}
.lefty{
    position: absolute;
}
#pushWrapper{
    margin-left: 130px;
    margin-top: 25px;
}
.side_nav--logo {
    margin: auto;
    width: 50%;
    margin-top: 30px;
}
.side_nav--colorSwitch__div{
    margin: auto;
    width: 50%;
}
.side_nav--colorSwitch {
    position: fixed;
    bottom: 0;
}
.title p{
    display: inline-block;
    vertical-align: middle;
    line-height: 45px;
    font-size: 30px;
}
.title{
    margin-bottom: 10px;
}
#titleImg{
    float: right;
    margin-right: 25px;
    height: 45px;
    width: 45px;
}
.roundContainer{
    padding: 23px;
    font-size: 20px;
    width: 26.5vw;
    height: 10vw;
    border-radius: 13px;
    display: inline-block;
    margin-right: 2vw;
    position: relative;
}
.roundContainer p{
    display: inline-block;
    vertical-align: middle;
}
.contentTitle{
    font-weight: bold;
}
.contentImg{
    float: right;
    vertical-align: middle;
    margin: 3px;
}
.bottom{
    clear: both;
    display: inline;
    position: absolute;
    bottom: 0;
}
.right{
    display: inline;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 23px;
}
.arrow{
    margin-left: 6px;
}
.reportContainer, .currentContainer, .hourReportContainer{
    width: 60vw;
    height: 19vw;
    padding: 23px;
    font-size: 20px;
    border-radius: 13px;
    display: inline-block;
    margin-right: 2vw;
    position: relative;
    margin-top: 2vw;
}
.dateContainer{
    display: inline;
}
#rect, #rect1, #rect2, #rect3, #rect4, #rect5{
    width: 16px;
    height: 16px;
    background: #F38F3D;
    border: 1px solid #F38F3D;
    box-sizing: border-box;
    border-radius: 5px;
    display: inline-block;
    margin: 0px;
    vertical-align: middle;
}
.r{
    position: relative;
    right: 0;
    vertical-align: middle;
    margin: 10px;
}
#weeklyContainer{
    float: right; 
    vertical-align: middle;
    font-size: 12px;
}
#weeklyArrow{
    margin: 4px;
    vertical-align: middle;
}
.currentContainer{
    width: 22vw;
}
/* SVG STUFF */
#svgContainer{
    width: 100%;
}
#svg{
    position: absolute;
    width: 11vw;
    height: 11vw;
    left: 0;
    margin-left: 20px;
}
@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
}
.background {
    stroke-width: 4;
    fill: none;
}
.overlayLine {
    fill: none;
    stroke-width: 4;
    animation: dash 2s linear forwards;
}

.mgn{
    margin-bottom: 8px !important;
}
.svgText{
    width: 70px;
    font-size: 12px;
    vertical-align: middle;
    text-align: left;
    margin-left: 0px;
}
.svgTextWrap{
    text-align: left;
}
#text1, #text2{
    position: absolute;
    margin-top: 2vw;
    right: -2px;
    width: 90px;
    line-height: 12px;
    text-align: right;
}
#text2{
    margin-top: 6vw;
}
#hourlyContainer{
    float: right; 
    vertical-align: middle;
    font-size: 12px;
}
.hourReportContainer{
    width: 84.5vw;
    height: 19vw;
    margin-bottom: 2vw;
}
.dateSelect{
    margin-left: 50px;
}
#rect1{
    background: #FDB713;
    border: 1px solid #FDB713;
    float: left;
    vertical-align: middle;
    margin-top: .5vw;
    margin-right: .5vw;
}
#rect2{
    background: #fff1d0;
    border: 1px solid #fff1d0;
    float: left;
    vertical-align: middle;
    margin-top: .5vw;
    margin-right: .5vw;
}
#rect3{
    background: #FDB713;
    border: 1px solid #FDB713;
    margin-right: -8px;
}
#rect4{
    background: #F38F3D;
    border: 1px solid #F38F3D;
    margin-right: -8px;
}
#rect5{
    background: #EE5353;
    border: 1px solid #EE5353;
    margin-right: -8px;
}